<div class="panel-heading">
  Array after sorted:
</div>
<div class="panel-body text-center">
  <h4>Lowest to highest:</h4>
  <%= @result %>
  <h4>Highest to lowest:</h4>
  <%= @result.reverse %>
</div>
<%= render "home_button" %>
