<div class="panel-heading">
  Counter and sort number of character in string:
</div>
<div class="panel-body text-center">
  <h4>Output 1:</h4>
  <%= @result.to_h %>
  <h4>Output 2:</h4>
  <%= @result.reverse.to_h %>
</div>
<%= render "home_button" %>
